@page
@model MyHaflinger.Web.Pages.Anmeldung.Verwaltung.TeilnehmerZahlungsdatenModel
@{
    ViewData["Title"] = "Zahlungsinformationen";
    Layout = "~/Pages/_Layout.Anmeldung.cshtml";
}

<div class="row">
    <div class="col-md-10">
        <h1>Zahlungsinfos für @Model.Registration.Name (EUR @Model.Registration.TotalPrice)</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <label asp-for="PaymentAmount" class="col-sm-2 control-label">Erhaltener Zahlungsbetrag</label>
                <div class="col-sm-10">
                    <input asp-for="PaymentAmount" type="number"  step="0.01" class="form-control">
                    @Html.ValidationMessage("PaymentAmount")
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PaymentDate" class="col-sm-2 control-label">Zahlungsdatum</label>
                <div class="col-sm-10">
                    <input asp-for="PaymentDate" type="text" class="form-control">
                    @Html.ValidationMessage("PaymentDate")
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="col-sm-2 control-label">Interne Bemerkungen zu Zahlung</label>
                <div class="col-sm-10">
                    <textarea asp-for="Notes" class="form-control" rows="3"></textarea>
                    @Html.ValidationMessage("Notes")
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Speichern</button>
                </div>
            </div>
        </form>
    </div>
</div>


