<!DOCTYPE html>
<html>
<body>
    <h1>Neue Anmeldung: @Model.Id</h1>

    <p>Name: <br />@Model.Name</p>
    <p>Emailadresse: <br />@Model.EmailAddress</p>
    <p>Stra&szlig;e: <br />@Model.Street</p>
    <p>Postleitzahl: <br />@Model.Zip</p>
    <p>Stadt: <br />@Model.City</p>
    <p>Land: <br />@Model.Country</p>
    <p>Kennzeichen: <br />@Model.NumberPlate</p>
    <p>Telefon: @Model.Phone</p>
    <hr />
    <p>Teilnehmer Freitag: @Model.PParticipantsFriday</p>
    <p>Teilnehmer Sa/So: @Model.PParticipantsSatSun</p>
    <p>Zu zahlender Gesamtpreis: <br />@Model.TotalPrice</p>
    <hr />
    <p>Bemerkung: @Model.Notes</p>
</body>
</html>
