@using System
@{
    int currentYear = DateTime.UtcNow.Year;
}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="@ViewData["Keywords"]" />
    <meta name="description" content="@ViewData["Description"]" />
    <meta name="robots" content="index,follow">

    <meta name="author" content="">
    <title>@ViewData["Title"]</title>
    @RenderSection("head", required: false)

    <!-- core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/animate.min.css" rel="stylesheet">
    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <link href="~/css/owl.transitions.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/main.min.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="~/js/html5shiv.js"></script>
    <script src="~/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body id="home" class="homepage">

    @RenderBody()

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2015-@currentYear Haflingerfreunde Salzkammergut. Alle Rechte vorbehalten. <a asp-page="/DSE">Datenschutzerkl&auml;rung</a>
                </div>
                <div class="col-sm-6">
                    @*<ul class="social-icons">
                            <li><a href="~/#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="~/#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="~/#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="~/#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="~/#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="~/#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="~/#"><i class="fa fa-flickr"></i></a></li>
                            <li><a href="~/#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="~/#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="~/#"><i class="fa fa-github"></i></a></li>
                        </ul>*@
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/mousescroll.js"></script>
    <script src="~/js/smoothscroll.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/jquery.isotope.min.js"></script>
    <script src="~/js/jquery.inview.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>