@using MyHaflinger.Anmeldung.Data
@using MyHaflinger.Anmeldung
@{
    Page.Title = "Teilnehmerliste";
    Layout = "~/Shared/_Layout.Anmeldung.cshtml";
}
@section head {
    <link href="~/Content/tablesorter-style.css" rel="stylesheet">
}
@{
    if (!User.Identity.IsAuthenticated)
    {
        System.Web.HttpContext.Current.GetOwinContext().Authentication.Challenge();
    }

    var ctx = DbFactory.CreateContext(this.Server);
    var registrations = ctx.GetRegisteredParticipants();

    // https://www.asp.net/web-pages/overview/data/5-working-with-data
}

<div class="row">
    <div class="col-md-10">

        <table id="myTable" class="tablesorter">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>PLZ</th>
                    <th>Stadt</th>
                    <th>Land</th>
                    <th>Kennzeichen</th>
                    <th>Tel</th>
                    <th>Bezahlt?</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in registrations)
            {
                    <tr>
                        <td>@{
                            if (User.IsKassier())
                            {
                                <a href="@Href("Admin.TeilnehmerZahlungsdaten.cshtml?id=" + r.Id)">Zahlung</a>
                            }
                            <a href="@Href("Admin.TeilnehmerDetails.cshtml?id=" + r.Id)">Details</a>
                        }</td>
                        <td>@r.Id</td>
                        <td>@r.Name</td>
                        <td>@r.EmailAddress</td>
                        <td>@r.Zip</td>
                        <td>@r.City</td>
                        <td>@r.Country</td>
                        <td>@r.NumberPlate</td>
                        <td>@r.Phone</td>
                        <td>@r.IntPaymentReceived</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <p>
            <a href="Admin.DownloadExcel.cshtml">Download</a> als Exceldatei.
        </p>
    </div>
</div>

@section scripts{
    <script src="@Href("~/Scripts/tablesorter/jquery.tablesorter.combined.min.js")"></script>

    <script>
        $(document).ready(function () {
            $("#myTable").tablesorter({ sortList: [[0, 0], [1, 0]] });
        }
        );
    </script>
}
