@using MyHaflinger.Anmeldung
@using MyHaflinger.Anmeldung.Data
@using Newtonsoft.Json
@{
    Page.Title = "Treffenanmeldung";
    Layout = "~/Shared/_Layout.Anmeldung.cshtml";

    // https://www.asp.net/web-pages/overview/ui-layouts-and-themes/4-working-with-forms
    // http://www.mikesdotnetting.com/article/191/validation-in-razor-web-pages-2

    // https://getbootstrap.com/css/#forms
}
@{
    var nextFormAction = FormActionEnum.ShowForm;

    // Validation constraints here
    // Optional fields: phone, notes
    Validation.RequireField("inputName", "Name muß eingegeben werden");
    Validation.RequireField("inputStreet", "Straße muß eingegeben werden");
    Validation.RequireField("inputZip", "Postleitzahl muß eingegeben werden");
    Validation.RequireField("inputCity", "Stadt muß eingegeben werden");
    Validation.RequireField("inputCountry", "Land muß eingegeben werden");
    Validation.RequireField("inputLicensePlate", "Kennzeichen muß eingegeben werden");
    Validation.Add("inputParticipantsFriday",
        Validator.Required("Teilnehmer Freitag muß eingegeben werden"),
        Validator.Integer(),
        Validator.Range(0, 10, "Wert muß größer/gleich 0 sein (und kleiner 10)")
    );
    Validation.Add("inputParticipantsSatSun",
        Validator.Required("Teilnehmer Sa/So muß eingegeben werden"),
        Validator.Integer(),
        Validator.Range(0, 10, "Wert muß größer/gleich 0 sein (und kleiner 10)")
    );
    Validation.Add("inputTeilnahmebedingungen",
        Validator.Required("Teilnahmebedingungen müssen akzeptiert werden")
    );

    // Read post-data once, usage of Request.Form below this block is not intended
    string inputName = Request.Form["inputName"];
    string inputStreet = Request.Form["inputStreet"];
    string inputZip = Request.Form["inputZip"];
    string inputCity = Request.Form["inputCity"];
    string inputCountry = Request.Form["inputCountry"];
    string inputLicensePlate = Request.Form["inputLicensePlate"];
    string inputPhone = Request.Form["inputPhone"];
    string inputNotes = Request.Form["inputNotes"];
    string inputParticipantsFriday = Request.Form["inputParticipantsFriday"];
    string inputParticipantsSatSun = Request.Form["inputParticipantsSatSun"];

    var ctx = DbFactory.CreateContext(this.Server);

    // URL sample: http://myhaflinger.com/Anmeldung/Formular?token=2a75f00f-9e42-4698-8f59-60a9ff56cd0e
    string token = Request.QueryString["token"];
    string emailAddress = ctx.GetEmailForChallengeToken(token);

    if (String.IsNullOrWhiteSpace(emailAddress))
    {
        nextFormAction = FormActionEnum.ShowFormInitError;
    }

    string totalPriceOnCompletion = "";

    // Default values for form, one driver/car is the default
    if (!IsPost)
    {
        inputParticipantsFriday = "0";
        inputParticipantsSatSun = "1";
    }

    if (IsPost && nextFormAction != FormActionEnum.ShowFormInitError)
    {
        if (Validation.IsValid())
        {
            // Save to database
            var reg = new MyHaflinger.Anmeldung.Data.Registration
            {
                Name = inputName,
                Street = inputStreet,
                Zip = inputZip,
                City = inputCity,
                Country = inputCountry,
                NumberPlate = inputLicensePlate,
                Phone = inputPhone,
                Notes = inputNotes,
                PParticipantsFriday = Convert.ToInt32(inputParticipantsFriday),
                PParticipantsSatSun = Convert.ToInt32(inputParticipantsSatSun),
                EmailAddress = emailAddress,
                RegisteredAt = DateTime.UtcNow
            };
            reg = ctx.RegisterParticipant(reg);

            string reg4Logging = JsonConvert.SerializeObject(reg, Formatting.None);
            var logger = NLog.LogManager.GetLogger("RegistrierungsTrace");
            logger.Trace("Teilnehmer {0} was registered properly", reg.Name);
            logger.Trace("Teilnehmer {0} data: {1}", reg.Name, reg4Logging);

            // TODO: Mark token as used

            // Send email to registrant
            MyHaflinger.MailManager.SendRegCompleteMailToParticipant(reg);

            // TODO: Handle mail sending erros

            // Send email to registration desk
            MyHaflinger.MailManager.SendNewRegInfoToRegDesk(AnmeldungSettings.RegDeskEmailAddress, reg);

            totalPriceOnCompletion = reg.TotalPrice.ToString();
            nextFormAction = FormActionEnum.ShowCompletionInfo;
        }
    }

    if (nextFormAction == FormActionEnum.ShowForm)
    {
        <div class="row">
            <div class="col-md-10">
                <h1>Anmeldeformular</h1>
                <p>Bis auf die Felder Telefon und Bemerkungen sind alle Felder verpflichtend</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <form class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            @Html.ValidationSummary()
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@emailAddress</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Vorname Nachname" value="@inputName">
                            @Html.ValidationMessage("inputName")
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputStreet" class="col-sm-2 control-label">Stra&szlig;e</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputStreet" name="inputStreet" placeholder="Straße" value="@inputStreet">
                            @Html.ValidationMessage("inputStreet")
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputZip" class="col-sm-2 control-label">Postleitzahl</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="inputZip" name="inputZip" placeholder="Postleitzahl" value="@inputZip">
                            @Html.ValidationMessage("inputZip")
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputCity" class="col-sm-2 control-label">Stadt</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputCity" name="inputCity" placeholder="Stadt" value="@inputCity">
                            @Html.ValidationMessage("inputCity")
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputCountry" class="col-sm-2 control-label">Land</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputCountry" name="inputCountry" placeholder="Land" value="@inputCountry">
                            @Html.ValidationMessage("inputCountry")
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputLicensePlate" class="col-sm-2 control-label">Kennzeichen</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputLicensePlate" name="inputLicensePlate" placeholder="Kennzeichen" value="@inputLicensePlate">
                            @Html.ValidationMessage("inputLicensePlate")
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPhone" class="col-sm-2 control-label">Telefon</label>
                        <div class="col-sm-10">
                            <input type="tel" class="form-control" id="inputPhone" name="inputPhone" value="@inputPhone">
                            @Html.ValidationMessage("inputPhone")
                        </div>
                    </div>

                    <!-- Payment-relevant fields -->
                    <div class="form-group">
                        <label for="inputParticipantsFriday" class="col-sm-2 control-label">Anzahl Teilnehmer Freitag</label>
                        <div class="col-sm-2">
                            <input type="number" class="form-control" id="inputParticipantsFriday" name="inputParticipantsFriday" value="@inputParticipantsFriday">
                            @Html.ValidationMessage("inputParticipantsFriday")
                        </div>
                        <div class="col-sm-4">@AnmeldungSettings.PricePerParticipantFriday EUR / Person</div>
                    </div>
                    <div class="form-group">
                        <label for="inputParticipantsSatSun" class="col-sm-2 control-label">Anzahl Teilnehmer Sa/So inkl! Fahrer</label>
                        <div class="col-sm-2">
                            <input type="number" class="form-control" id="inputParticipantsSatSun" name="inputParticipantsSatSun" value="@inputParticipantsSatSun">
                            @Html.ValidationMessage("inputParticipantsSatSun")
                        </div>
                        <div class="col-sm-4">
                            <p>
                                @AnmeldungSettings.PricePerCar EUR / Fahrzeug (inkludiert Fahrer)<br />
                                @AnmeldungSettings.PricePerPassenger EUR / Beifahrer
                            </p>
                        </div>
                    </div>

                    <!-- Optional notes to the organizer -->
                    <div class="form-group">
                        <label for="inputNotes" class="col-sm-2 control-label">Bemerkungen</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" id="inputNotes" name="inputNotes" value="@inputNotes"></textarea>
                            @Html.ValidationMessage("inputNotes")
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputTeilnahmebedingungen" class="col-sm-2 control-label">Teilnahmebedingungen akzeptieren</label>
                        <div class="col-sm-1">
                            <input type="checkbox" class="form-control" id="inputTeilnahmebedingungen" name="inputTeilnahmebedingungen" />
                        </div>
                        <div class="col-sm-9">
                            <p>
                                Diese Veranstaltung ist ein genehmigungsfreies Treffen gleichgesinnter Fahrer, Beifahrer und Freunde von Fahrzeugen der 
                                Marke Steyr Puch Haflinger.
                            </p>
                            <p>
                                Die StVO ist w&auml;hrend der gesamten Veranstaltung einzuhalten, die Fahrer sind für die ordnungsgem&auml;&szlig;e Zulassung sowie Versicherung 
                                eigenverantwortlich, und m&uuml;ssen im Besitz der beh&ouml;rdlichen Dokumente sein.
                            </p>
                            <p>
                                Der Veranstalter lehnt jede Haftung f&uuml;r Personen und Sachsch&auml;den, auch gegen Dritte ab, insbesondere beim freien Gel&auml;ndefahren.
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Anmeldung abschicken</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <br/>
            </div>
        </div>
    }
    else if (nextFormAction == FormActionEnum.ShowFormInitError)
    {
        <div class="row">
            <div class="col-md-10">
                <h1>Anmeldeformular</h1>
                <p>Ungültiger Token für Schritt 2 der Anmeldung.</p>
            </div>
        </div>
    }
    else if (nextFormAction == FormActionEnum.ShowCompletionInfo)
    {
        <div class="row">
            <div class="col-md-10">
                
                <h1>Anmeldung ist erfolgt!</h1>
                <p>
                    Die folgenden Informationen werden auch in der Bestätigungsemail versandt. Bitte dennoch zusätzlich 
                    kopieren / ausdrucken bis die Email einlangt.
                </p>
                <p>Name: @inputName</p>
                <p>Emailadresse: @emailAddress</p>
                <p>Stra&szlig;e: @inputStreet</p>
                <p>Postleitzahl: @inputZip</p>
                <p>Stadt: @inputCity</p>
                <p>Land: @inputCountry</p>
                <p>Kennzeichen: @inputLicensePlate</p>
                <p>Telefon: @inputPhone</p>
                <hr/>
                <p>Teilnehmer Freitag: @inputParticipantsFriday</p>
                <p>Teilnehmer Sa/So: @inputParticipantsSatSun</p>
                <p>Zu zahlender Gesamtpreis (EUR): @totalPriceOnCompletion</p>
                <hr/>
                <p>Bemerkung: @inputNotes</p>

                <h2>Überweisung Teilnahmebeitrag</h2>
                <p>
                    Kontoinhaber: Haflingerfreunde Salzkammergut<br/>
                    Bank: Oberbank<br/>
                    IBAN: AT28 1500 0001 7124 3116<br/>
                    BIC: OBKLAT2L<br/>
                </p>
            </div>
        </div>
    }
}